.swiper {
  width: 80%;
  height: 80%;
  padding-top: 10%;
  padding-bottom: 50px;
  margin-left: 50px;
  margin-right: 0;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 50%;
  height: 70%;
}

.swiper-slide img {
  display: block;
  width: 100%;
}
