.mainCover {
  background-color: var(--background);
}

.homeTitle::before {
  content: "";
  position: absolute;
  top: 25%;
  left: 3%;
  width: 88%;
  height: 75%;
  background-color: var(--text-primary-color);
  z-index: -1;
}
